<html>
  <head>
    <title>Hull Sendgrid</title>
    <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  </head>
  <body class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default mt-1">
          <% if (lists && _.size(lists)) { -%>
            <div class="panel-heading">
              <h5 class='mt-05 mb-05 text-accented uppercase'>Managed Lists</h5>
            </div>

            <table class='table table-condensed datagrid-table table table-bordered table-hover'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Recipient Count</th>
                </tr>
              </thead>
              <tbody>
                <% _.forEach(lists, (list, segmentId) => {  -%>
                <tr>
                  <td  style='vertical-align: middle;'>
                    <a href="https://sendgrid.com/marketing_campaigns/ui/lists/<%= list.id %>">
                      <%= list.name %>
                    </a>
                  </td>
                  <td  style='vertical-align: middle;'>
                    <small class="text-muted">
                      <%= list.recipient_count %>
                    </small>
                  </td>
                </tr>
                <% }) -%>
              </tbody>
            </table>

            <% } else { -%>

              <% if (!segments || !segments.length) { -%>
                <div class="panel-body text-center">
                  <h1 class="condensed mt-0 mb-0">No segment found</h1>
                  <p>First, go to the Users tab and create some segments, then specify which segments you want to send to Facebook from the Settings tab</p>
                  <div class="mt-2">
                    <div class="mb-2 col-md-2 col-md-offset-5">
                      <img src="https://dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/images/blankslate/avatar.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
              <% } else if (!synchronizedSegments || !synchronizedSegments.length) { -%>
                <div class="panel-body text-center">
                  <h1 class="condensed mt-0 mb-0">No segments set to synchronize</h1>
                  <p>Go to settings to pick some segments to be synchronized</p>
                  <div class="mt-2">
                    <div class="mb-2 col-md-2 col-md-offset-5">
                      <img src="https://dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/images/blankslate/avatar.svg" class="img-responsive">
                    </div>
                  </div>
                </div>
              <% } else { -%>
                <div class="panel-body text-center">
                  <h1 class="condensed mt-0 mb-0">Your segments are just being synchronized</h1>
                </div>
              <% } -%>
            <% } -%>
        </div>
      </div>
    </div>
  </body>
</html>
