<html>
  <head>
    <title>Hull Sendgrid</title>
    <link rel="stylesheet" href="//dd04rofzygnm0.cloudfront.net/releases/master/865f04865d2448286626bac92c518a8f8ea8bafe/stylesheets/neue.css" />
  </head>
  <body class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default mt-1">
            <div class="panel-body text-center">
                Webhooks Endpoint that should be configured at Sendgrid panel <br/>
                <input class="form-control mb-1" value="https://<%= hostname %>/webhook/?token=<%= token %>" />
            </div>

          <% if (segmentsFromSendgrid && _.size(segmentsFromSendgrid)) { -%>
            <div class="panel-heading">
              <h5 class='mt-05 mb-05 text-accented uppercase'>Managed Lists</h5>
            </div>

            <table class='table table-condensed datagrid-table table table-bordered table-hover'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Recipient Count</th>
                </tr>
              </thead>
              <tbody>
                <% _.forEach(segmentsFromSendgrid, (list, segmentId) => {  -%>
                <tr>
                  <td  style='vertical-align: middle;'>
                    <a href="https://sendgrid.com/marketing_campaigns/ui/lists/<%= list.id %>">
                      <%= list.name %>
                    </a>
                  </td>
                  <td  style='vertical-align: middle;'>
                    <small class="text-muted">
                      <%= list.recipient_count %>
                    </small>
                  </td>
                </tr>
                <% }) -%>
              </tbody>
            </table>

            <% } -%>
        </div>
      </div>
    </div>
  </body>
</html>
